# Concept2 API credentials
# Get these from https://log.concept2.com/developers/
C2_CLIENT_ID=your_client_id_here
C2_CLIENT_SECRET=your_client_secret_here
C2_REDIRECT_URI=http://localhost:8080/callback

# Google Sheets
# The ID from your sheet URL: https://docs.google.com/spreadsheets/d/{SHEET_ID}/edit
GOOGLE_SHEET_ID=your_sheet_id_here
